body {
    background-image: url('');
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
  }
  
  /* Contenedor principal */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
  }
  
  h1 {
    font-size: 30px;
    font-family: 'Georgia', serif;
    font-weight: bold;
    color: #333;
    position: absolute;
    top: 10px;
    left: 10%;
    transform: translateX(-65%); /* Centra el título horizontalmente */
}

  
  input[type="text"], input[type="password"], select {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 16px;
    background-color: #f9f9f9;
    box-sizing: border-box;
  }
  
  /* Campos de entrada */
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 25px; /* Bordes redondeados */
    font-size: 16px;
    background-color: #f9f9f9;
    box-sizing: border-box;
  }
  
  /* Botón de inicio de sesión */
  button {
    width: 100%;
    padding: 12px;
    background-color: #a3b18a;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  /* Hover en el botón */
  button:hover {
    background-color: #8f9b76;
  }
  
  /* Enlace para registrarse */
  a {
    display: block;
    margin-top: 10px;
    color: #666;
    font-size: 14px;
    text-decoration: none;
  }
  
  a:hover {
    color: #a3b18a;
    text-decoration: underline;
  }
  